.goods {
  @media (min-width: $desktop-width) {
    padding: 0 18px;
  }
}

.cards {
  display: grid;
  row-gap: 11px;
  min-height: 190px;
  justify-content: center;
  padding-bottom: 27px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 58px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
  padding-bottom: 13px;
  display: grid;
  grid-template-columns: 136px 144px;
  grid-template-areas: "img table"
    "img table"
    "btn btn";

  @media (min-width: $tablet-width) {
    padding: 12px 38px 38px 38px;
    border-top: none;
    grid-template-columns: auto auto;
    grid-template-areas: "img img"
      "table table"
      "btn btn";
    align-items: center;

    background: linear-gradient(to bottom, #ffffff 17%, #f2f2f2 17%, #f2f2f2 83%);
  }

  @media (min-width: $tablet-width) {
    height: auto;
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0 auto;
  }
}

.card__picture {
  grid-area: img;
  place-self: center;
}

.card__img {
  width: 100%;
  height: auto;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 16px;
  }
}

.table {
  grid-area: table;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

.card__button {
  height: 40px;
  grid-area: btn;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin: 0 auto;
  }
}

.table__title {
  padding-left: 3px;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  text-transform: uppercase;
  color: #222222;
  text-align: left;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 12px;
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    line-height: 21px;
  }
}

.table__desc {
  font-family: $font-fallback;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: $color-txt-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
    margin: 0;
    padding: 9px 0;
    color: $color-txt-gray;
  }
}


.table__desc-m {
  text-align: right;
}

.card-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 38px;
    margin-top: 86px;
    border-top: none;
    border: 2px solid #f2f2f2;
  }
}

  /*stylelint-disable */

.card-add__link {
  display: inline-block;
  background-image: url(../img/sprite.svg#plus);
  width: 30px;
  height: 30px;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 14px;
    width: 70px;
    height: 70px;
    margin-top: 16px;
  }
}

  /*stylelint-enable */

.card-add__subtitle {
  margin: 0;
  margin-top: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 150px;
    text-align: center;
    margin-top: 34px;
  }
}

.card-add__desc {
  margin: 0;
  font-family: $font-fallback;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-txt-black;
  margin-top: 8px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 180px;
    margin-top: 25px;
    margin-bottom: 67px;
    text-align: center;
    color: $color-txt-gray;
  }
}
