.cards {
  display: grid;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border-top: 1px solid #ebebeb;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-areas: "img table"
    "img table"
    "btn btn";

  @media (min-width: $tablet-width) {
    padding: 38px;
    border-top: none;
    grid-template-columns: auto auto;
    grid-template-areas: "img img"
      "table table"
      "btn btn";
    align-items: center;

    background: linear-gradient(to bottom, #ffffff 18%, #f2f2f2 18%, #f2f2f2 82%);
  }

  @media (min-width: $tablet-width) {
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card__picture {
  grid-area: img;
  place-self: center;
}

.card__img {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }
}

@media (min-width: $tablet-width) {
  .card__img-big {
    width: 168px;
    height: 200px;
    margin-top: -15px;
  }
}

.card__table {
  grid-area: table;
  margin-top: 11px;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

.card__button {
  grid-area: btn;
  margin-top: 22px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin: 0 auto;
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  text-transform: uppercase;
  color: #222222;
  text-align: left;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    line-height: 21px;
  }
}

.table__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $color-txt-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    color: $color-txt-gray;
  }
}

@media (min-width: $tablet-width) {
  .table__desc-m {
    text-align: right;
  }
}

.card-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 38px;
    margin-top: 70px;
    border-top: none;
    border: 2px solid #f2f2f2;
  }
}

  /*stylelint-disable */

.card-add__link {
  display: inline-block;
  background-image: url(../img/sprite.svg#plus);
  width: 30px;
  height: 30px;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 14px;
    width: 60px;
    height: 60px;
  }
}

  /*stylelint-enable */

.card-add__subtitle {
  margin: 0;
  margin-top: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 150px;
    text-align: center;
  }
}

.card-add__desc {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-txt-black;
  margin-top: 8px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 160px;
    text-align: center;
    color: $color-txt-gray;
  }
}
