//fonts
$font: "oswald";
$font-fallback:"Arial";
$font-generic: sans-serif;
$my-font: $font, $font-fallback, $font-generic;

//colors

$color-body-bg:  #ffffff;
$color-txt-black:#000000;
$color-txt-white:#ffffff;
$color-txt-gray: #444444;
$color-bg-item:#68b738;
$color-bg-block:#f2f2f2;

//brakepoints

$tablet-width: 768px;
$desktop-width: 1280px;
