.field-comment {
  border: none;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 3000px;
    background-color: $color-bg-item;
    position: absolute;
    top: -47px;
    left: 20px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      left: -500px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 41px;
  }
}

.field-comment > .legend-title {
  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 38px;
  }
}

textarea {
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 13px;
  margin-bottom: 24px;
  font-family: $font;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 38px;
    margin-top: 42px;
    width: 633px;
    height: 178px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 42px;
  }

  &::placeholder {
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
