.example {
  width: 100%;
  margin: 0 auto;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #ffffff 55%, #eaeaea 55%, #eaeaea 45%);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    position: relative;
    min-height: 603px;
    background: linear-gradient(to bottom, #ffffff 20%, #eaeaea 20%, #eaeaea 80%);
  }
}

.example__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.example__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-txt-gray;
  font-family: $font-fallback;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.expenses {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 150px;
  }
}

.example__subtitle {
  font-weight: 400;
  font-size: 14px;
  padding-right: 5px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: right;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    padding-right: 63px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.result {
  display: flex;
  gap: 30px;
  position: relative;
}

.result__weight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__days {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding: 15px 40px;
  display: inline-block;
  width: 124px;
  height: 70px;
  border: 1px solid  #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    text-align: center;
  }
}

.result__title-days {
  padding: 15px 20px;
}

.result__subtitle {
  font-family: $font-fallback;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: $color-txt-gray;
  width: 87px;
  padding: 0 15px;
  text-align: center;
  background: #eaeaea;
  margin-top: -38px;

  @media (min-width: $tablet-width) {
    background: #ffffff;
    font-family: $font-fallback;
    font-style: normal;
    font-size: 14px;
    white-space: nowrap;
    width: auto;
    margin-top: -32px;
    padding: 0 8px;
  }

  @media (min-width: $desktop-width) {
    background: #eaeaea;
  }
}
