.footer-page {
  background: #f2f2f2;
}

.footer-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-page__logo {
  margin-bottom: 32px;
  margin-top: 43px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    margin-top: 63px;
  }
}

.social {
  list-style: none;
  padding: 18px 28px;
  margin: 0;
  margin-top: -6px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-left: 26px;
    margin-top: 22px;
    border: none;
    justify-content: stretch;
    width: auto;
  }
}

.social__link::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  margin: 0 12px;
}

.social__link:hover::before {
  background-color: #68b738;
}

.social__link:focus::before {
  background-color: #68b738;
  opacity: 0.3;
}

  /*stylelint-disable */

.social__link {
  &--vk::before {
    -webkit-mask-image: url(../img/sprite.svg#vk);
    mask-image: url(../img/sprite.svg#vk);
    -webkit-mask-repeat: no-repeat;
    mask-repeat:no-repeat;
    background-color: #666666;
    margin-top: 2px;
  }

  &--youtube::before {
    -webkit-mask-image: url(../img/sprite.svg#youtube);
    mask-image: url(../img/sprite.svg#youtube);
    -webkit-mask-repeat: no-repeat;
    mask-repeat:no-repeat;
    background-color: #666666;
    margin-top: 2px;
  }

  &--tg::before {
    -webkit-mask-image: url(../img/sprite.svg#telegramm);
    mask-image: url(../img/sprite.svg#telegramm);
    -webkit-mask-repeat: no-repeat;
    mask-repeat:no-repeat;
    background-color: #666666;
    margin-top: 4px;
  }
}

  /*stylelint-enable */

.footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: stretch;
    width: auto;
  }
}

  /*stylelint-disable */

.copyright__icon {
  display: block;
  width: 42px;
  height: 34px;
  -webkit-mask-image:url(../img/sprite.svg#htmlacademy) ;
  mask-image: url(../img/sprite.svg#htmlacademy);
  -webkit-mask-size: 100%;
  mask-size:100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #666666;
  margin-right: -7px;
  margin-top: 22px;
  margin-bottom: 22px;
  @media (min-width: $tablet-width) {
  margin-top: 48px;
  }
}

  /*stylelint-enable */

.copyright:hover .copyright__icon {
  background-color: #68b738;
}

.copyright:active .copyright__icon {
  background-color: #68b738;
  opacity: 0.3;
}

.copyright__link {
  font-family: $font-fallback;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-txt-gray;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding-right: 15px;
    margin-top: 31px;
  }
}
