.footer-page {
  background: #f2f2f2;
}

.footer-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-page__logo {
  margin-bottom: 32px;
  margin-top: 39px;
}

.social {
  list-style: none;
  padding: 20px 30px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    justify-content: stretch;
    width: auto;
  }
}

.social__link::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
}

  /*stylelint-disable */

.social__link {
  &--vk::before {
    background: url(../img/icons/vk.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--youtube::before {
    background: url(../img/icons/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--tg::before {
    background: url(../img/icons/telegramm.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

  /*stylelint-enable */

.footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: stretch;
    width: auto;
  }
}

  /*stylelint-disable */

.copyright__icon {
  display: block;
  width: 27px;
  height: 34px;
  background: url(../img/icons/htmlacademy.svg);
  background-repeat: no-repeat;
  margin-top: 22px;
  margin-bottom: 22px;
}

  /*stylelint-enable */

.copyright__link {
  font-family: $font-fallback;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-txt-gray;

  @media (min-width: $tablet-width) {
    padding-right: 15px;
  }
}
