.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.main-header__logo {
  padding: 10px 0;

  &-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: $tablet-width) {
      left: 120px;
      display: none;
    }
  }

  /*stylelint-disable */

  &-img {
    display: inline-block;
    background-image: url(../img/sprite.svg#logo-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 38px;
    height: 34px;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    left: 120px;
    background-image: url(../img/sprite.svg#logo-middle);
    background-repeat: no-repeat;
    width: 174px;
    height: 52px;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url(../img/sprite.svg#logo-big);
    width: 202px;
    height: 60px;
  }
}

.nav__toggle {
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url(../img/sprite.svg#logo_mobile);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 18px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;

  &:focus {
    background-image: url(../img/sprite.svg#logo_mobile-close);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

  /* stylelint-enable */

.nav__wrapper {
  position: absolute;
  width: 100%;
  top: 59px;
  left: 0;
  background: $color-txt-white;
  z-index: 1;
  display: none;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    margin-top: 15px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    margin-left: 60px;
    margin-right: 80px;
  }
}

.nav__wrapper-active {
  display: block;
}

.nav__list {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.nav__item {
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 1;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    padding-left: 35px;
    border: none;
    padding-top: 0;
  }
}

.nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-txt-black;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.nav__link--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-bg-item;
    padding-bottom: 5px;
  }
}

.nav__link--index {
  &:active {
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.nav__link--index.nav__link--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}

// .nav__toggle:hover,
// .nav:focus-within > .nav__wrapper {
//   display: flex;
// }

.nav {
  background: none;
}
