.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.main-header__logo {
  padding: 10px 0;

  &-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: $tablet-width) {
      left: 120px;
      display: none;
    }

    @media (min-width: $desktop-width) {
      left: 200px;
    }
  }

  &-img {
    display: inline-block;
    background: url(../img/icons/logo-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    left: 120px;
    background: url(../img/icons/logo-middle.svg);
    background-repeat: no-repeat;
    width: 175px;
    height: 52px;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: $desktop-width) {
    background: url(../img/icons/logo-big.svg);
    width: 202px;
    height: 60px;
  }
}

.nav__toggle {
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url(../img/icons/Logo_mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 18px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;

  &:focus {
    background-image: url(../img/icons/Logo_mobile-close.svg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__wrapper {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  background: $color-txt-white;
  z-index: 1;
  display: none;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    min-width: 440px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 500px;
  }
}

.nav__wrapper-active {
  display: block;
}

.nav__list {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.nav__item {
  list-style: none;
  padding-bottom: 21px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;

    &:active {
      border-bottom: 2px solid $color-bg-item;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;

    &:active {
      border-bottom: 2px solid #ffffff;
    }
  }
}

.nav__item--active-index {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-bg-item;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}

.nav__item--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-bg-item;
  }
}

.nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-txt-black;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 40px;
  }
}

// .nav__toggle:hover,
// .nav:focus-within > .nav__wrapper {
//   display: flex;
// }

.nav {
  background: none;
}
