.invite {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 45px 70px;
  }
}

.invite__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
}

.invite__desc {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: $color-txt-gray;
  display: none;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
  }
}

.location {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.location iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
