.invite {
  padding: 0 20px;
}

.invite__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;
}

.invite__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: $color-txt-gray;
  display: none;
}

.location {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.location iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
