  /*stylelint-disable */

.article {
  position: relative;
  padding: 20px;
  min-height: 500px;
  height: 100%;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/background-cat.jpg);
  background-repeat: no-repeat;
  background-size: auto 355px;
  background-position: center top;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    background: none;
    min-height: 800px;
    margin-top: 40px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    min-height: 600px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
    background-position:calc((100% - 1220px) / 2 + 1082px) 0 ;
    background-repeat: no-repeat;
    background-size: 1044px 540px;
  }
}

@media (min-width: $desktop-width) {
  .article::after {
    content: "";
    display: block;
    background-repeat: no-repeat;
    height: 690px;
    background-image: url(../img/background-cat-big.jpg);
    position: absolute;
    top: -150px;
    right: 0;
    left: calc((100% - 1220px) / 2 + 560px);
    z-index: -10;
  }
}

@media (min-width: $desktop-width) {
  .article::before {
    content: "";
    display: block;
    width: 1045px;
    background-repeat: no-repeat;
    height: 151px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
    position: absolute;
    top: -150px;
    right: 0;
    left: calc((100% - 1220px) / 2 + 560px);
  }
}

  /*stylelint-enable */

.article__title {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-txt-white;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $color-txt-black;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.article__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $color-txt-white;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: $color-txt-black;
    text-align: left;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.poster {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  left: 50%;
  top: 350px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    max-height: 600px;
    top: 500px;
  }
}

.poster__picture {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.poster__img {
  min-width: 320px;
  height: 100%;
  margin-top: 18px;


  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-top: 0;
    margin-left: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: calc((100% - 1220px) / 2 + 310px);
  }
}

.poster-button {
  @media (min-width: $tablet-width) {
    width: 244px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    position: absolute;
    left: 130px;
    top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    position: absolute;
    left: calc((100% - 1220px) / 2 + 70px);
    top: -200px;
  }
}

