  /*stylelint-disable */
.article {
  position: relative;
  padding: 20px;
  min-height: 500px;
  height: 100%;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/background-cat.jpg), linear-gradient(68deg, rgba(79 78 82), rgb(66 65 70));
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: center top;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    background: none;
    min-height: 800px;
    margin-top: 40px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    min-height: 550px;
  }
}

@media (min-width: $desktop-width) {
  .article::after {
    content: "";
    display: block;
    background-repeat: no-repeat;
    height: 690px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/background-cat-big.jpg), linear-gradient(rgb(61 60 640), rgb(80 81 86));
    position: absolute;
    top: -150px;
    right: 0;
    left: calc((100% - 1220px) / 2 + 610px);
    z-index: -10;
  }
}

/*stylelint-enable */

.article__container {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
  }
}

.article__title {
  padding: 0;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-txt-white;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $color-txt-black;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    max-width: 490px;
  }
}

.article__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $color-txt-white;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: $color-txt-black;
    text-align: left;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    max-width: 490px;
  }
}
