.slider {
  --comprasion: 50%;
  margin: 0 auto;
  margin-top: 40px;
  height: auto;
  padding-bottom: 60px;
  position: relative;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: auto;
    margin-top: -435px;
  }
}

.slider__top {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: var(--comprasion, 50%);
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #ffffff 22%, #eaeaea 22%, #eaeaea 78%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, #ffffff 16%, #eaeaea 16%, #eaeaea 84%);
  }
}

.slider__cat-small {
  padding-bottom: 25px;
}


.slider__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider__img {
  display: block;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: auto;
    margin-bottom: 95px;
  }
}


  /*stylelint-disable */

.slider__range {
  height: calc(100% - 75px);
  width: 4px;
  background: #666666;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: var(--comprasion);

  &::after {
    content: "";
    display: inline-block;
    cursor: pointer;
    background: url(../img/icons/slider-button.svg);
    width: 40px;
    height: 40px;
    color: #666666;
    position: absolute;
    top: 45%;
    right: -18px;
  }
}

  /*stylelint-enable */
