.slider {
  --comprasion: 50%;
  height: auto;
  padding-bottom: 43px;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-right: 0;
  }
}

.slider__top {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: var(--comprasion, 50%);
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #ffffff 29%, #eaeaea 29%, #eaeaea 71%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, #ffffff 25%, #eaeaea 25%, #eaeaea 75%);
  }
}

.slider__cat-small {
  padding-bottom: 25px;
}


.slider__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider__img {
  display: block;
  height: 260px;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: auto;
    margin-bottom: 72px;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    padding-top: 21px;
  }
}


  /*stylelint-disable */

.slider__range {
  height: calc(100% - 47px);
  width: 4px;
  background: #666666;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: var(--comprasion);
  transition: background-image, background-color, opacity 0.5s;

  &:hover{
  background-color: #68B738;

  &::after{
    background-image: url(../img/sprite.svg#slider-button-hover);
  }
}

  &:active{
  background: #5EAA2F;
  opacity: 0.6;

  &::after{
    opacity: 0.9;
  }
}

  &::after {
    content: "";
    display: inline-block;
    cursor: pointer;
    background-image: url(../img/sprite.svg#slider-button);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 48px;
    height: 40px;
    position: absolute;
    top: 43%;
    right: -20px;
    @media (min-width: $tablet-width) {
      top: 47%;
    }
  }
  @media (min-width: $tablet-width) {
    top: 40px;
    height: calc(100% - 142px);
  }
  @media (min-width: $desktop-width) {
    top:21px;
    height: calc(100% - 112px);
  }
}

  /*stylelint-enable */
