.slider {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__top {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 50%;
  background-color: #eaeaea;
}

.slider__cat-small {
  padding-bottom: 25px;
}


.slider__picture {
  width: 100%;
  max-width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

  /*stylelint-disable */

.slider__range {
  height: calc(100% - 45px);
  width: 4px;
  background: #666666;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 50%;

  &::after {
    content: "";
    display: inline-block;
    cursor: pointer;
    background: url(../img/icons/slider-button.svg);
    width: 40px;
    height: 40px;
    color: #666666;
    position: absolute;
    top: 45%;
    right: -18px;
  }
}

  /*stylelint-enable */
